body {
  background-color: #fff;
  background-image: none;
  font-family: Arial, sans-serif;
  font-size: 16.8px;
}
.container {
  width: 100%;
}

#block-menu-menu-service-tools .menu,
#services,
#path {
  font-size: 0.750em;
}
.js #services,
.js #block-menu-menu-service-tools .menu {
  padding-right: 100px;
}
#main-menu {
  font-size: 1em;
  min-height: 0;
  border-bottom: 1px solid #e9e6da;
}
.navbar .container,
.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
#main-menu .navbar-nav > .open > a,
#main-menu .navbar-nav > .open > a:hover,
#main-menu .navbar-nav > .open > a:focus {
  border-radius: 0;
  color: #036;
}
#main-menu .navbar-nav > li > a.active {
  background-color: #eee;
  border-radius: 0;
  color: #333;
}
#main-menu .navbar-nav > li > a {
  background-color: #fff;
  border: medium none;
}
.navbar {
  border: none;
  min-height: 42px;
}
.navbar-default .navbar-nav > li > a {
  background-color: #fff;
  color: #036;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #f5f5f5!important;
  color: #036;
}
.navbar-default .navbar-nav  > li > a.active:hover,
.navbar-default .navbar-nav  > li > a.active:focus {
  background-color: #eee!important;
  color: #036;
}
#path .menu-breadcrumb .list-group-item {
  padding: 0;
  display: inline-block;
}
#path .menu-breadcrumb .list-group-item.active,
#path .menu-breadcrumb .list-group-item.active:hover,
#path .menu-breadcrumb .list-group-item.active:focus {
  background-color: transparent;
}
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
li.expanded,
li.collapsed,
li.leaf {
  margin: 0;
  padding: 0;
}
.dropdown-menu > li > a {
  padding: 8px 20px;
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 1px;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #eee;
  border-color: #ddd;
  color: #036;
  z-index: 2;
}
.list-group-item {
  border: 1px solid #ddd;
  border-top: none;
  background-color: transparent;
}
.dropdown-menu {
  padding: 0;
  /* box-shadow: none;*/
  min-width: 200px;
}
.block-nexteuropa-europa-search .panel-body {
  padding: 0;
}
.block-nexteuropa-europa-search #nexteuropa-europa-search-search-form {
  position: absolute;
  right: 0;
  top: 0;
  width: 33.3333%;
}
.input-group .form-control {
  display: inline-block;
  float: left;
  width: 66.6667%;
  border-right: none;
}
.btn-search {
  display: inline-block;
  width: 33.3333%;
  border-radius: 0;
}
.btn-default {
  background-color: #ddd;
  border-color: #bbb;
  color: #333;
}
#content-wrapper {
  padding-left: 0;
  padding-right: 15px;
}
#page-title {
  margin-top: 0;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.panel {
  background-color: #fff;
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 20px;
}
.panel-body {
  padding-left: 0;
}
.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}
.panel-heading {
  border-bottom: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 10px 15px 10px 0;
}
.col-md-4 {
  width: 33.3333%;
}
.col-md-8 {
  width: 66.6667%;
}
.node .field-name-body {
  border-bottom: none;
}
#layout-footer {
  background-color: #fff;
  border-top: medium none;
  margin-bottom: 0;
  margin-top: 2px;
  padding-bottom: 7px;
  padding-top: 0;
  font-size: 0.875em;
}

/*******************************************Responsiveness***********************************************/
@media all and (max-width:990px) {
  .visible-md {
    display: block !important;
  }
  .visible-sm {
    display: none !important;
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-md-4 {
    width: 33.3333%;
  }
  .panel-body {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 771px) {
  .dropdown:hover > ul.dropdown-menu {
    display: block;
    margin-top: 1px;
  }
}
@media all and (max-width:767px) {
  .visible-sm {
    display: block !important;
  }
  .col-md-8,
  .col-sm-12 {
    width: 100%;
    float: none;
  }
  .col-md-4 {
    width: 100%;
    float: none;
  }
  .hidden-xs {
    display: block !important;
  }
  #layout-header {
    height: auto;
    min-height: 80px;
  }
  #layout-header #main-title {
    font-size: 26px !important;
    left: 0;
    padding: 15px 0 0 100px;
    position: relative;
    text-transform: none;
    top: 0;
  }
  #layout-header #sub-title {
    color: #036;
    font-size: 18px !important;
    left: 0;
    padding: 0 0 0 100px;
    position: relative;
    text-decoration: none;
    top: -7px;
    z-index: 10;
  }
  /*.navbar-default {
    background-color: #0065a2;
    border-color: #0065a2;
  }*/
  /*.dropdown:hover > ul.dropdown-menu {
    display: none;
  }*/
  .mobile-user-bar.affix + .region-featured #main-menu .navbar {
    position: relative;
  }
  js #services,
  .js #block-menu-menu-service-tools .menu {
    display: none;
  }
  .lang-select-site {
    top: 20px;
  }
  .block-nexteuropa-europa-search #nexteuropa-europa-search-search-form {
    position: relative;
    right: inherit;
    top: 0;
    width: 100%;
  }
  .search-form .input-group-search {
    width: 100%;
  }
  .input-group .form-control {
    display: inline-block;
    float: left;
    width: 80%;
    border-right: none;
  }
  .btn-search {
    display: inline-block;
    width: 20%;
    border-radius: 0;
  }
  .form-item {
    margin-bottom: 0;
    margin-top: 0;
  }
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-header a span {
    color: #fff;
  }
  #path {
    height: 30px;
    line-height: 2.5;
  }
  #layout-header {
    background-image: none;
  }
  .navbar-nav {
    margin: 0;
  }
  .list-group-item:last-child,
  .list-group-item:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .mobile-user-bar {
    position: relative;
  }
  .mobile-user-bar .navbar-header {
    top: 0;
    height: auto;
  }
  body .region-featured-wrapper .home-button,
  body .region-featured-wrapper button#menu-button {
    background: #004494 none repeat scroll 0 0;
    border: none;
    border-radius: 0;
    color: #ffffff;
    float: left;
    font-size: 100%;
    margin: 5px 0 5px 0;
    padding: 5px 10px;
  }
  body .region-featured-wrapper button#menu-button {
    margin-left: 15px;
  }
  #layout-footer {
    background-color: #0065a2;
    padding: 10px 0 15px;
    color: #fff;
    text-align: center;
    font-size: 0.89em;
  }
  #layout-footer  a {
    color: #fff;
  }
  #block-menu-menu-service-tools .menu li.first a,
  #block-cce-basic-config-footer-ipg .menu li.first a {
    padding-bottom: 15px;
    padding-left: 12px;
  }
  #block-menu-menu-service-tools .menu a,
  #block-cce-basic-config-footer-ipg .menu a,
  #block-menu-menu-service-tools .menu a:visited,
  #block-cce-basic-config-footer-ipg .menu a:visited {
    border-left: none;
    color: #fff;
    font-size: 1em;
  }
  #block-menu-menu-service-tools .menu li,
  #block-cce-basic-config-footer-ipg .menu li {
    display: inline;
    padding: 0 12px 0 0;
  }
  #block-cce-basic-config-footer-ipg .menu {
    margin-top: 10px;
    text-align: center;
  }
  #block-cce-basic-config-footer-ipg .content a {
    padding: 0 12px;
  }
  #block-menu-menu-service-tools .menu li.first a,
  #block-cce-basic-config-footer-ipg .menu li.first a {
    padding-left: 12px;
  }
}

h1 {
  margin-bottom: 0;
  color: #555555;
}
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  margin-top: 20px;
  color: #555555;
}
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 10px;
}

#page-title {
  width: 100%;
}

a,
a:link,
a:visited {
  color: #347c98;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

#book-block-menu-38 {
  min-height: 150px;
}

.sidebar-left .dropdown-menu.menu.clearfix.list-group {
  display: block;
}
.region-help {
  margin-bottom: 0;
  padding: 0;
  border: 0;
}

.front #page-title {
  display: none;
}

.pre_content_col .field-name-field-internal-link h2 {
  display: none;
}

.pre_content_col .field-name-field-internal-link .field-item {
  padding-bottom: 2px;
  margin: 0px;
}

.pre_content_col .field-name-field-internal-link .field-item .link-wrapper {
  display: none;
}

.pre_content_col .field-name-field-bean-link .field-item {
  padding-bottom: 4px;
}

#content-wrapper table {
  border-collapse: collapse;
  border: 1px black solid;
  width: 100%;
}

#content-wrapper table.rmmn td:first-child {
  width: 50%;
}

#content-wrapper table + table {
  margin-top: 15px;
}

#content-wrapper th {
  text-align: center;
  background-color: #eeeeee;
}

#content-wrapper td,
#content-wrapper th {
  padding: 0 14px;
  border-bottom: 1px solid;
  border-right: 1px solid;
}

#content-wrapper table.noborder,
#content-wrapper table.noborder td {
  border: 0;
}

#content-wrapper .zebra td {
  background-color: #f6f6f6;
}

.hidden-anchor {
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* -- Overrides -- */

#content-wrapper {
  padding-right: 0;
}

.panel-body {
  padding: 8px 0;
}
tbody {
  border-top: 0;
}
.btn-back-top {
  z-index: 1000;
}

/* /END GENERAL */


/* == Tax Fraud == */
.missingImg {
  float: right;
  margin: 10px;
}
.tax_fraud_menu {
  padding-left: 0;
  margin-left: 0;
  font-size: 1em;
  margin-bottom: 15px;
}

.tax_fraud_menu li {
  display: inline;
  margin-right: 15px;
}

.tax_fraud_menu li a:before {
  content: '> ';
}

.fraud_img {
  text-align: center;
}

div.fraud_img_content {
  max-width: 697px;
  margin: auto;
  position: relative;
  border: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.fraud_img_content h2 {
  position: absolute;
  font-family: 'Verdana', sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1.2;
  padding: 50px 0 0 35px;
  margin-top: 0;
}

.fraud_img_content h2.blue {
  color: #036;
}

/* == Missing part == */

.oneColumn,
.twoColumn {
  font-family: Verdana, Arial, sans-serif;
}
.menuT {
  overflow: hidden;
}
.menuC {
  margin-top: 23px;
}

.header_slider {
  position: relative;
}
.header_slider .field-name-field-caption {
  display: none;
}
.header_slider img {
  width: 100%;
}
.baseLine {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 322%;
  line-height: 100%;
  font-weight: bold;
  color: #fff;
  font-family: "Verdana",sans-serif;
}
.baseLine p {
  text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
}
.header_slider_text {
  position: absolute;
  top: 40px;
  left: 13px;
  color: #fff;
  font-size: 38px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: -3px;
  text-transform: capitalize;
}
.clip video {
  max-width: 100%;
}
.slides {
  position: relative;
}
.slides li {
  position: absolute;
  top: 0;
  left: 0;
}
.menuToggleTitle:first-child {
  color: #0065a2;
  font-size: 1em;
}
.menuToggleTitle {
  max-width: 192px;
  float: left;
  color: #0065a2;
  text-align: left;
  color: #fff;
  font-size: 1em;
  padding: 0 10px;
  font-weight: bold;
  margin-right: 2px;
  text-transform: uppercase;
  pointer: pointer;
}

.menuT div {
  float: left;
}
.menuToggle {
  float: left;
  margin-left: 10px;
  background-color: #b17bbd;
  text-align: center;
  color: #fff;
  font-size: 0.85em;
  font-weight: bold;
  padding: 8px 40px;
  text-transform: uppercase;
  pointer: pointer;
}
.menuToggleButton {
  cursor: pointer;
  text-align: center;
  max-width: 265px;
}
.menuToggleButton p {
  text-align: center;
  margin: 0;
}
.toggleButton a {
  background-color: #b17bbd;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 23px;
  text-transform: uppercase;
  cursor: pointer;
}
.gold {
  background-color: #bea400;
}
.cherry {
  background-color: #97406e;
}
.brown {
  background-color: #99550b;
}
.toggleContent {
  padding: 0px 0px 10px 0px;
  font-size: 13px;
  text-align: justify;
  line-height: 1.7em;
}
.clip h3 {
  color: #0065a2;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 30px;
}
#columnLeft {
  margin-top: 15px;
  width: 430px;
  float: left;
}
#columnRight {
  margin-left: 20px;
  width: 53.2%;
  padding-left: 20px;
  padding-top: 0px;
  float: left;
}
#columnRight > .boxColumn {
  min-height: 650px;
  position: relative;
  padding-top: 0px;
  margin-top: 10px;
}
#columnLeft h3 {
  margin-top: 0px;
}
.boxColumn {
  margin-top: 25px;
}
.boxColumnLeft {
  padding-top: 20px;
}
.boxColumn h3,
.column h3 {
  color: #0065a2;
  border-bottom: 1px solid #0065a2;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}
.boxColumn p {
  font-size: 13px;
  padding-right: 20px;
  text-align: justify;
  line-height: 1.7em;
}
#non_justify p,
#non_justify2 p {
  text-align: strech;
}
#non_justify {
  margin-top: 20px;
}
.boxColumn a {
  color: #fff;
  text-decoration: none;
}
.boxColumn a:visited {
  color: #fff;
  text-decoration: none;
}
.boxColumn a:hover {
  color: #fff;
  text-decoration: none;
}
.boxColumn .cartouche {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px;
  padding-left: 10px;
  background-color: #0065a2;
  color: #fff;
  font-weight: bold;
}
.cartoucheOrange {
  background-color: rgb(151, 64, 110);
  color: #fff;
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: -0.02em;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  text-align: strech;
  width: 430px;
}
.cartoucheOrange  p,
.cartoucheVerte  p {
  margin-right: 0px;
}
.cartoucheOrange a {
  text-decoration: underline;
  color: #fff;
}
.cartoucheOrange a:visited {
  text-decoration: none;
  color: #fff;
}
.cartoucheOrange a:hover {
  text-decoration: none;
  color: #fff;
}
.cartoucheVerte {
  background-color: rgb(190, 164, 0);
  color: #fff;
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: -0.04em;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  text-align: strech;
  width: 430px;
}
.cartoucheVerte a {
  text-decoration: none;
  color: #fff;
}
.cartoucheVerte a:visited {
  text-decoration: none;
  color: #fff;
}
.cartoucheVerte a:hover {
  text-decoration: none;
  color: #fff;
}
.cartoucheVerte p {
  padding-right: 0px;
}
.flexslider.carousel {
  max-width: 430px;
  min-height: 300px;
}
.flexslider.carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flexslider .slides img {
  max-width: 100%;
}
.boxColumn p {
  margin: 0;
}
#block-block-6 {
  background-color: #333;
  font-family: Verdana, sans-serif;
  padding: 15px 30px;
  font-size: 0.8em;
}
#block-block-6 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#block-block-6 ul li {
  display: inline-block;
  margin-right: 15px;
}

#block-block-6 ul li a {
  color: #fff;
  font-weight: bold;
}

/* == Special pages (i.e. VAT) == */

.taxonomy-term-special .euAbstract {
  width: 60%;
  margin-right: 6%;
  float: left;
}

.taxonomy-term-special .euAbstract .euImg {
  margin-bottom: 15px;
  float: left;
  margin: 0 15px 0 0;
}
.taxonomy-term-special .euAbstract h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  padding-top: 0;
  color: #555;
}
.taxonomy-term-special .euRelatedLinks {
  width: 30%;
  float: left;
  padding-top: 0;
}
.taxonomy-term-special .euRelatedLinks h3 {
  display: none;
}
.taxonomy-term-special .euRelatedLinks ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.taxonomy-term-special .euRelatedLinks li {
  padding: 0;
}
.taxonomy-term-special .euRelatedLinks ul li ul li {
  font-size: 1em;
  margin-top: 8px;
}
.taxonomy-term-special .euRelatedLinks .euRelatedTitle {
  font-size: 1.5em;
  color: white;
  background-color: #2682b5;
  font-weight: normal;
  padding: 5px 10px;
  display: block;
}
#vat-left,
#vat-right {
  border-top: 1px #cccccc solid;
}
#vat-left h3,
#vat-right h3 {
  font-size: 1.4em;
  color: #555555;
}
#vat-right h4 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #999999;
  border-bottom: 1px #a1a1a1 dotted;
}
#vat-right .left,
#vat-right .right {
  width: 48%;
}
#vat-right .left {
  margin-right: 4%;
}
#vat-left ul,
#vat-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#vat-left ul li,
#vat-right ul li {
  margin-top: 10px;
}
#vat-left {
  width: 34%;
  float: left;
  margin-right: 14px;
}
#vat-right {
  float: left;
  width: 64%;
}
.taxonomy-term-special .left,
.taxonomy-term-special .right {
  float: left;
}
.taxonomy-term-special #quicklinks {
  margin-bottom: 25px;
  overflow: hidden;
  padding-top: 10px;
  border-top: 1px #cccccc solid;
}
.taxonomy-term-special #quicklinks h2 {
  font-weight: bold;
  font-size: 1.8em;
  color: #555555;
}
.taxonomy-term-special #quicklinks div {
  float: left;
  font-size: 1.3em;
  line-height: 1.4;
  width: 30%;
  margin-right: 1.8%;
  background-color: #f4f4f4;
  text-align: center;
  padding: 80px 0 20px 0;
  background-position: 50% 15px;
  background-repeat: no-repeat;
}
/* == NEWS == */
.view-taxud-news .views-row {
  padding-bottom: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  padding-top: 3px;
  padding-left: 0;
  line-height: 1.5;
}
.view-taxud-news .views-row h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 7px;
  margin-top: 7px;
}
.view-taxud-news .views-row h3 a {
  display: inline-block;
  font-weight: bold;
  padding-right: 10px;
}
.view-taxud-news .views-field-field-date {
  float: left;
}
.view-taxud-news .views-field-field-date .date-display-single {
  background: #eee none repeat scroll 0 0;
  color: #666;
  font-size: 0.9em;
  padding: 2px 6px;
  margin-right: 7px;
}
.view-taxud-news .views-field-field-abstract {
  font-size: 0.95em;
  margin-top: 10px;
}
/* == News list == */
.not-front .view-id-taxud_news h2 {
  font-size: 1em;
  margin: 0;
  margin-top: 5px;
  font-weight: bold;
}
.view-id-taxud_news .view-content .views-row {
  padding-bottom: 7px;
}

.view-id-taxud_news .view-content .views-field-field-date {
  float: none;
  font-size: 0.9em;
}
.view-id-taxud_news .view-content .views-field-field-date span {
  background: #eee;
  color: #000;
  padding: 2px 4px;
}
.page-news #block-system-main .view-content .views-row {
  margin-bottom: 0;
}
#block-system-main .view-taxud-news .view-header h2 {
  background: none;
}
.view-taxud-news .more-link a {
  background-image: url("../images/bkg-btn.png");
  background-position: 100% 45%;
  background-repeat: no-repeat;
  display: block;
  float: left;
  font-weight: bold;
  margin-right: 10px;
  min-height: 26px;
  padding-right: 35px;
  color: #347c98;
  font-size: 1em;
}
.view-taxud-news .more-link a:visited {
  color: #347c98;
}
.view-taxud-news .more-link a:hover {
  color: #000;
  font-size: 1em;
}
/* == Landing page == */
.view-landing-page h2 {
  font-size: 1.05em;
  font-weight: bold;
  margin-top: 0;
}
.view-landing-page h2 > a:after {
  content: url("../images/bkg-internal-links.png");
}
.view-landing-page h3 {
  font-size: 1.25em;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
  margin-top: 0;
}
.view-landing-page .col-md-12 {
  border-bottom: 1px #e5e5e5 solid;
  margin-bottom: 10px;
}

.view-landing-page .row {
  margin-bottom: 10px;
}

.view-landing-page .view-content .views-field-field-abstract {
  line-height: 1.5;
}
.node-type-taxud-landing-page #layout-body {
  padding: 0;
}
.node-type-taxud-landing-page #page-title {
  margin-left: 10px;
}
.node-type-taxud-landing-page #block-system-main {
  margin-bottom: 10px;
}
.node-type-taxud-landing-page #block-system-main .link-wrapper,
.node-type-taxud-landing-page #block-system-main .field-image-caption {
  display: none;
}
.node-taxud-landing-page {
  padding: 0 10px;
}
#block-views-landing-page-block {
  padding: 0 10px;
}
/* == Footer == */
#layout-footer .container {
  padding: 0;
}
.region-footer > div#block-block-1 {
  background-color: #e5e5e5;
  padding: 15px;
  overflow: hidden;
  text-align: left;
  font-size: 0.82em;
}
.region-footer > div#block-block-1 a {
  color: #000000;
}
.region-footer > div#block-block-1 #footer-column-left {
  float: left;
  width: 67%;
}
.region-footer > div#block-block-1 #footer-column-right {
  float: left;
  width: 33%;
}
.region-footer > div#block-block-1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}
.region-footer > div#block-block-1 #footer-column-left ul {
  float: left;
  margin-right: 2.5%;
  width: 45%;
}
.region-footer > div#block-block-1 ul li {
  margin-bottom: 7px;
}
.region-footer > div#block-block-1 #other-sites {
  background-color: #f0f0f0;
  padding: 18px 24px;
  border: 1px #d7d7d7 solid;
}
.region-footer > div#block-block-1 #other-sites h2 {
  font-weight: bold;
  font-size: 1.7em;
  text-transform: uppercase;
  color: #555555;
  margin-top: 10px;
}
/* == RESPONSIVE == */
@media (min-width: 768px) {
  .navbar-nav {
    float: none;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > ul {
    display: block;
  }
  .pre_content_col,
  #block-views-in-the-spotlight-block .view-content .views-row {
    float: none;
    width: 100%;
    margin: 0;
  }
  #block-views-in-the-spotlight-block .view-content .views-row {
    border-bottom: 1px #ccc dotted;
    padding: 10px 0;
  }
  #block-views-in-the-spotlight-block .view-content .views-row .views-field-field-main-image img {
    display: none;
  }
}

/* css_injector_1 */
@media print {
  a[href]:after {
    content: "";
  }
  abbr[title]:after {
    content: "";
  }
}
/**Block bean consultaitons*/
#block-bean-consultations .field-name-field-ne-body {
  width: 78%;
}
.i18n-fr #block-bean-consultations .field-name-field-more-link .odd a,
.i18n-de #block-bean-consultations .field-name-field-more-link .odd a {
  margin-top: 5px;
}
.i18n-fr #block-bean-consultations {
  background-image: url(../images/bkg-have-your-say_fr.png);
}
.i18n-de #block-bean-consultations {
  background-image: url(../images/bkg-have-your-say_de.png);
}
#block-bean-big-footer-block .panel-heading {
  display: none;
}
.region-footer > div#block-bean-big-footer-block {
  background-color: #e5e5e5;
  padding: 15px;
  overflow: hidden;
  text-align: left;
  font-size: 0.82em;
}
.region-footer > div#block-bean-big-footer-block a {
  color: #000000;
}
.region-footer > div#block-bean-big-footer-block #footer-column-left {
  float: left;
  width: 67%;
}
.region-footer > div#block-bean-big-footer-block #footer-column-right {
  float: left;
  width: 33%;
}
.region-footer > div#block-bean-big-footer-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}
.region-footer > div#block-bean-big-footer-block #footer-column-left ul {
  float: left;
  margin-right: 2.5%;
  width: 45%;
}
.region-footer > div#block-bean-big-footer-block ul li {
  margin-bottom: 7px;
}
.region-footer > div#block-bean-big-footer-block #other-sites {
  background-color: #f0f0f0;
  padding: 18px 24px;
  border: 1px #d7d7d7 solid;
}
.region-footer > div#block-bean-big-footer-block #other-sites h2 {
  font-weight: bold;
  font-size: 1.7em;
  text-transform: uppercase;
  color: #555555;
  margin-top: 10px;
}

#block-bean-eu-training .panel-heading,
#block-bean-infringements .panel-heading,
#block-bean-tenders-and-other-procedures .panel-heading,
#block-bean-consultations-0 .panel-heading {
  background-color: transparent;
  color: #555;
  font-size: 1.21em;
  font-weight: bold;
  margin-top: 2px;
  padding-bottom: 0;
  text-transform: uppercase;
}
#block-bean-eu-training .panel-body ul,
#block-bean-infringements .panel-body ul {
  font-size: 1em;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.block-bean .t_date {
  background-color: #ebebeb;
  color: #000000;
  display: inline-block;
  font-size: 0.85em;
  margin: 10px 7px 0 0;
  padding: 2px 4px;
  text-transform: uppercase;
}
.block-bean .t_date + p,
.block-bean p a {
  display: block;
  font-size: 1.05em;
}
.block-bean .field-name-field-more-link a {
  background-image: url(../images/bkg-btn.png);
  background-position: 100% 45%;
  background-repeat: no-repeat;
  display: block;
  float: left;
  font-weight: bold;
  margin-right: 10px;
  min-height: 26px;
  padding-right: 35px;
  margin-top: 20px;
}

.page-node #page-title {
  margin-bottom: 20px;
}

.region-featured {
  position: relative;
}
#block-block-2 {
  position: absolute;
  right: 5px;
  top: 23px;
}
#block-block-2 .panel-body {
  padding: 0px;
}
.social_media_button ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}
.social_media_button ul li {
  display: inline-block;
  margin-left: 4px;
}

@media only screen and (max-width:768px) {
  #block-block-2 {
    display: none;
  }
}
.dropdown-menu .list-group-item.dropdown-toggle {
  cursor: default;
  text-transform: uppercase;
  border: 0px;
  font-size: 0.6em;
  font-weight: bold;
  padding: 3px 15px;
}

.dropdown-menu .expanded .list-group-item {
  white-space: pre-wrap;
}
.node .field-name-body img {
  margin-right: 20px;
  /*float: left;*/
  margin-bottom: 10px;
}
#node-112 .field-name-body #content img {
  margin-right: 0px;
  float: none;
  margin-bottom: 0px;
}
#content .noborder td {
  padding: 0 12px;
}

#block-system-main .field-name-body p:first-of-type img,
#block-system-main .field-name-body h2:first-of-type img,
#block-system-main .field-name-body h3:first-of-type img,
#block-system-main .field-name-body img.floatright {
  float: right;
  clear: right;
  margin: 0 0 1em 1em;
}

#block-system-main .field-name-body table p:first-of-type img {
  float: none;
  margin: 0;
  clear: none;
}

#block-bean-eu-training li {
  padding-bottom: 5px;
}

.page-order-spotlight .draggable a.tabledrag-handle,
.page-order-landing-pages .draggable a.tabledrag-handle {
  height: 35px;
  font-size: 25px;
  margin-top: 20px;
}
#block-bean-laco {
  display: none;
}

.accent {
  background-position: 98% 45%;
  background-repeat: no-repeat;
  border: 2px solid #95c154;
  font-weight: bold;
  padding: 4px !important;
}
.euRelatedLinks .accent {
  background-image: url(../images/accent.png);
}
.page-node-717 .euAbstract ul {
  margin: 0.75em 0;
  padding: 0;
  list-style: none;
}
.page-node-717 .euAbstract ul li:before {
  content: "";
  border-color: transparent #2f99cc;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: 11.2em;
  top: 0.9em;
  position: relative;
}
.menu-breadcrumb a:hover,
.menu-breadcrumb a:active,
.menu-breadcrumb a:focus {
  background-color: #074a8b;
}
.whiteFont {
  color: #fff;
  padding: 5px !important;
  border: 1px solid #4bb9cb !important;
}
#TaxudDownloadForm #field_course,
#TaxudDownloadForm #field_language,
#TaxudDownloadForm #field_email,
#TaxudDownloadForm #field_email_confirm,
#TaxudDownloadForm #field_country {
  float: left;
  margin-right: 5px;
}
.noFloatPicure {
  float: none !important;
}
.floatRight {
  float: right;
}
#layout-body h3 {
  margin-top: 25px;
}
.withImages tr:nth-child(even) td {
  padding-bottom: 20px !important;
}

.language-selector-close,
.language-selector-open {
  z-index: 990;
}
.page-node-717 .field-name-body .euImg {
  margin-bottom: 85px;
}
#block-bean-share-toolbar {
  position: absolute;
  z-index: 1050;
  right: 0;
  bottom: 0;
}
#block-bean-share-toolbar .panel-body,
#block-bean-share-toolbar .panel-heading,
#block-bean-share-toolbar.panel {
  padding: 0;
  background-color: transparent;
  margin: 0;
}

#block-bean-share-toolbar  .wtShareList {
  margin: 0;
  background-color: transparent;
  padding-top: 0;
}

#block-bean-share-toolbar .wtShareNetworks {
  min-width: 130px;
}

#block-bean-share-toolbar  .wtShareList li {
  height: 22px;
}

#block-bean-share-toolbar .wtShareNetworks .wtShareMore {
  line-height: 1;
  background-image: url(../images/share.png);
  background-repeat: no-repeat;
  line-height: 1;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  margin: 2px;
  padding: 0;
  background-position: 0 -800px;
  background-size: 100%;
  display: block;
  top: 0;
}

#block-bean-share-toolbar .wtShareNetworks .wtShareMore:hover {
  background-position: 0 -780px;
}

#block-bean-share-toolbar .panel-heading {
  font-size: 0.72em;
  font-family: 'Trebuchet MS', Arial, sans-serif, sans-serif;
  padding-left: 4px;
  margin-top: 1px;
}

#block-bean-share-toolbar .wtSocialNetworkLink {
  background-size: 100%;
}

#block-bean-share-toolbar .wt_twitter {
  background-position: 0 -40px;
}

#block-bean-share-toolbar .wt_facebook {
  background-position: 0 -20px;
}

#block-bean-share-toolbar .wt_google {
  background-position: 0 -60px;
}

#block-bean-share-toolbar .wtShareList li a.wtBtnOnlyIco {
  width: 20px;
}

#block-bean-share-toolbar .wtShareNetworks a {
  height: 20px;
}

#block-system-main .floating-slideshow {
  float: right;
  width: 178px;
  height: 145px;
  margin: 0px;
  padding: 0px;
  border: none;
  background: transparent url(../images/slideshow-h-bg.png) no-repeat center center;
}

#block-system-main .floating-slideshow iframe {
  margin: 0px;
  margin-top: 13px;
  margin-left: 13px;
  padding: 0px;
  border: none;
  width: 150px;
  height: 113px;
}

#path {
  height: auto !important;
}
#path .menu-breadcrumb,
#path .easy-breadcrumb {
  display: inline !important;
}

*::before,
*::after {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

.alphaindex {
  padding-bottom: 20px;
}
.alphaindex a {
  font-weight: bold;
}
.alphaindex a:visited {
  color: #551a8b;
}
.alphaindex a:after {
  content: url(../images/bkg-internal-links.png);
  padding-right: 10px;
}

.terminator {
  clear: both;
}
.view-taxud-news .view-header h3 {
  float: left;
}
.view-taxud-news .view-header .subscribe {
  float: left;
  display: block;
  border: 0px;
}
.view-taxud-news .view-header .subscribe:hover {
  background-color: #fff;
}
.view-taxud-news .view-header .subscribe .rss-logo {
  background-image: url(../images/sprite-social-media.png);
  background-position: -175px -1px;
  display: inline-block;
  float: left;
  height: 32px;
  margin-left: -10px;
  margin-top: 12px;
  width: 38px;
}

#block-bean-share-toolbar.panel {
  width: 167px;
}
html .wt_linkedin.wtSocialNetworkLink,
html .wt_linkedin.wtSocialNetworkLink:hover,
html .wt_linkedin.wtSocialNetworkLink:focus,
html .wt_linkedin.wtSocialNetworkLink:active {
  background-position: 0 -140px;
}

/* css_injector_2 */
.missing-part #block-block-1 {
  background-color: #333;
  font-family: Verdana, sans-serif;
  padding: 15px 30px;
  font-size: 0.8em;
}
.missing-part #block-block-1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.missing-part #block-block-1 ul li {
  display: inline-block;
  margin-right: 15px;
}
.missing-part #block-block-1 ul li a {
  color: #fff;
  font-weight: bold;
}
.missing-part .flexslider .slides img {
  width: 100%;
  display: block;
}

/* css_injector_3 */
@media screen and (max-width: 767px) {
  .navbar-default li {
    background-color: #efefef;
  }

  #layout-header #main-title {
    padding-top: 40px;
  }

  .dropdown .dropdown-menu .list-group-item.dropdown-toggle {
    font-size: 1em;
    border-bottom: 1px solid #dddddd;
  }

  #main-menu .navbar-nav > li.active > a {
    color: #333333;
    font-weight: bold;
  }

  .taxonomy-term-special .euAbstract,
  .taxonomy-term-special .euRelatedLinks,
  #vat-left,
  #vat-right,
  #vat-right .left,
  #vat-right .right {
    width: 100%;
    float: none;
    margin-right: auto;
    clear: both;
    margin-bottom: 15px;
    overflow: hidden;
  }

  #vat-right .right {
    border-top: 1px #ccc solid;
  }
}

@media screen and (max-width: 600px) {
  .region-footer > div#block-bean-big-footer-block {
    padding: 1px;
  }

  .region-footer > div#block-bean-big-footer-block #footer-column-left {
    padding: 5px;
  }

  .region-footer > div#block-bean-big-footer-block #footer-column-left,
  .region-footer > div#block-bean-big-footer-block #footer-column-right,
  .region-footer > div#block-bean-big-footer-block #footer-column-left ul {
    float: none;
    width: 100%;
    margin: 0;
    clear: both;
  }

  .region-footer > div#block-bean-big-footer-block #other-sites {
    padding: 5px;
    border: 0;
  }

  .region-footer > div#block-bean-big-footer-block a {
    display: block;
    padding: 5px;
  }
  #block-system-main .field-name-body p:first-of-type img,
  #block-system-main .field-name-body h2:first-of-type img,
  #block-system-main .field-name-body h3:first-of-type img,
  #block-system-main .field-name-body img.floatright {
    float: none;
    clear: none;
    margin: 0;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 479px) {
  .taxonomy-term-special .euAbstract .euImg {
    width: 100% !important;
    height: auto !important;
    float: none;
    margin-bottom: 15px;
  }
}

/* css_injector_4 */
table.js_table.guidelines_table td:nth-of-type(3) p {
  white-space: nowrap;
}

@media only screen and (max-width: 1025px),
(max-device-width: 1025px) {
  #content-wrapper td,
  #content-wrapper th {
    padding: inherit;
    border: none;
    border-bottom: 1px solid #eee;
  }

  .fixflags {
    display: none !important;
  }

  /* Force table to not be like tables anymore */
  table:not(.no_resp_style),
  table:not(.no_resp_style) thead,
  table:not(.no_resp_style) tbody,
  table:not(.no_resp_style) th,
  table:not(.no_resp_style) td,
  table:not(.no_resp_style) tr {
    display: block;
    overflow: hidden;
    width: 100%;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  table:not(.no_resp_style) thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  table:not(.no_resp_style) tr {
    border: 1px solid #ccc;
  }

  table:not(.no_resp_style) td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    overflow-wrap: normal;
  }

  table:not(.no_resp_style) td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  table.sad_article:not(.no_resp_style) td:before,
  table.long_headers:not(.no_resp_style) td:before {
    position: relative;
    width: 100%!important;
    white-space: normal!important;
  }

  table.js_table td:before {
    content: attr(data-th);
    font-weight: bold;
    display: block;
    position: static;
  }

  table.js_table th {
    display: none;
  }

  table.js_table p {
    display: inline-block;
  }

  table.js_table_p_block p {
    display: block !important;
  }
  table.cta_grid img {
    width: 100% !important;
    height: auto;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  body {
    padding: 0;
    margin: 0;
  }
  table img:not([src*="f_pdf_16.gif"]),
  table img:not([src*="f_ppt_16.gif"]) {
    max-width: 100% !important;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px) {
  table.cta_grid img {
    width: 100% !important;
    height: auto;
    background: red;
  }
}

@media only screen and (max-width: 550px) {

  .withImages:not(.no_resp_style) tr {
    border: 0px solid !important;
    float: left;
    width: 50%;
  }
  .withImages tr:nth-child(1n) td {
    min-height: 200px;
  }
}

@media screen and (min-width: 551px) and (max-width: 768px) {
  .withImages:not(.no_resp_style) tr:nth-child(1n) {
    width: 40%;
  }
  .withImages:not(.no_resp_style) tr:nth-child(2n) {
    width: 60%;
  }
  .withImages:not(.no_resp_style) tr {
    border: 0px solid !important;
    float: left;
  }
  .withImages tr:nth-child(1n) td {
    min-height: 150px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  .withImages:not(.no_resp_style) tr:nth-child(1n) {
    width: 30%;
  }
  .withImages:not(.no_resp_style) tr:nth-child(2n) {
    width: 70%;
  }
  .withImages:not(.no_resp_style) tr {
    border: 0px solid !important;
    float: left;
  }
  .withImages tr:nth-child(1n) td {
    min-height: 150px;
  }
}
@media only screen and (max-width: 320px) {
  .withImages:not(.no_resp_style) tr:nth-child(1n) {
    width: 5%;
    display: none;
  }
  .withImages:not(.no_resp_style) tr:nth-child(2n) {
    width: 95%;
    display: block;
  }
}

@media only screen and (min-width: 1025px) {
  .withImages:not(.no_resp_style) tr:nth-child(1n) {
    width: 100%;
  }
  .withImages:not(.no_resp_style) tr:nth-child(2n) {
    width: 100%;
  }
}

.page-node-546 #content-wrapper .rmmn td,
.page-node-546 #content-wrapper .rmmn th {
  padding: 0 3px;
}

/* css_injector_5 */
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  height: 25px;
  overflow: hidden;
  position: relative;
  background: url(../images/star-empty25.png);
  background-size: contain;
  margin-top: -4px;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  background: url(../images/star25.png);
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
  cursor: pointer;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.star-rating::after,
.star-rating::before {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}
.star-rating.star-5 {
  width: 125px;
}
.star-rating.star-5 input,
.star-rating.star-5 i {
  width: 20%;
}
.star-rating.star-5 i ~ i {
  width: 40%;
}
.star-rating.star-5 i ~ i ~ i {
  width: 60%;
}
.star-rating.star-5 i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating.star-5 i ~ i ~ i ~ i ~i {
  width: 100%;
}
.star-rating.star-3 {
  width: 150px;
}
.star-rating.star-3 input,
.star-rating.star-3 i {
  width: 33.33%;
}
.star-rating.star-3 i ~ i {
  width: 66.66%;
}
.star-rating.star-3 i ~ i ~ i {
  width: 100%;
}

#common_simple_survey input.send_survey {
  background-color: #f2f2f2;
  border: 1px solid #898888 !important;
  color: #1376bf;
  font-size: 14px !important;
  font-weight: bold;
  margin-right: 30px;
  margin: 0 1px 0 0 !important;
  float: left;
}
#common_simple_survey {
  padding: 0;
  position: relative;
  font-size: 13px;
  width: 100%;
  margin-top: 30px;
  border: 1px solid #efefef;
}
#common_simple_survey p {
  padding-right: 10px;
}
#common_simple_survey h4 {
  background-color: #efefef;
  border-bottom: 1px solid #cce2ed;
  color: #1376bf;
  font-size: 14px !important;
  font-style: normal;
  font-weight: bold;
  margin-top: 0;
  padding: 7px 0 7px 10px;
}
#common_simple_survey .container {
  clear: both;
  padding-bottom: 15px;
}
#common_simple_survey .container .leftAlign {
  display: block;
}
.value-input {
  margin-top: -3px;
}
#common_simple_survey .epoll {
  margin-right: 3px;
}
.page-node .field-name-body .noborder td h3 {
  margin-top: 0px !important;
}

/* css_injector_6 */
.event-highlight {
  font-weight: bold;
}
.event-date {
  display: none;
}
p.bold,
span.bold {
  font-weight: bold;
}
.register {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}
.node-type-event .field-name-field-event-date {
  display: none;
}
/* Beans issue on 2.3 platform */
.block-bean .panel-body.content h2 {
  display: none;
}
.block-bean .field-name-field-taxud-bean-body h2 {
  display: block;
}

#block-bean-share-toolbar .block-bean .panel-body.content h2 {
  font-size: 0.6em;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  padding: 0px 0 1px 4px;
  margin: 1px 0 0 0;
  text-transform: initial;
}
#block-bean-share-toolbar ul .wt_linkedin {
  background-position: 0px -140px;
}
#other-sites h2 {
  display: block;
}

.ecl-site-header,
.ecl-page-header,
.ecl-footer {
  line-height: 1.15;
}
.ecl-site-header__banner label {
  margin-bottom: 0;
}
.ecl-link:link,
.ecl-link:visited,
.ecl-link:hover,
.ecl-link:active {
  color: #004494;
}
.ecl-page-header a:link,
.ecl-page-header a:visited,
.ecl-page-header a:hover,
.ecl-page-header a:active,
.ecl-footer__site-corporate a:link.ecl-link,
.ecl-footer__site-corporate a:visited.ecl-link,
.ecl-footer__site-corporate a:hover.ecl-link,
.ecl-footer__site-corporate a:active.ecl-link,
.ecl-footer__ec a:link.ecl-link,
.ecl-footer__ec a:visited.ecl-link,
.ecl-footer__ec a:hover.ecl-link,
.ecl-footer__ec a:active.ecl-link {
  color: #fff;
}

.ecl-container h4 {
  font-weight: 700;
}

.ecl-container .form-control {
  height: initial;
  border-radius: 0;
  transition: none;
  box-shadow: none;
}
@media only screen and (min-width: 992px) {
  #layout-body {
    margin: 0 auto 0 auto;
    width: 100%;
    max-width: 1170px;
  }
  .narrow-page #layout-body,
  .node-type-taxud-news #layout-body {
    max-width: 984px;
    margin-left: 0;
  }
}
@media (max-width: 991px) and (min-width: 767px) {
  .mobile-user-bar .navbar-header {
    background-color: transparent;
  }
}
.wtLaco [aria-hidden=true] {
  display: inline;
}
.front .easy-breadcrumb_segment-front {
  display: none;
}
.navbarcontainer {
  background-color: #bfd0e4;
}
#block-bean-share-toolbar .wtShareList li a.wtBtnOnlyIco,
#block-bean-share-toolbar .wtShareNetworks .wtShareMore {
  margin-top: 0;
}
html #common_simple_survey_form .container {
  width: 100%;
}
.ecl-navigation-menu__root .ecl-navigation-menu__item {
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}
.ecl-list-item__link:link,
.ecl-list-item__link:visited,
.ecl-list-item__link:hover,
.ecl-list-item__link:active {
  text-decoration: none;
  color: #404040;
}
#layout-body h3.ecl-list-item__title {
  margin-top: 0;
}
.view-taxud-subpages h3 a {
  display: block;
  padding: 1em 0;
  color: #004494;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.22rem;
  border-top: 3px solid #ffd617;
}

.view-taxud-subpages h3 a:hover {
  color: #004494;
  text-decoration: none;
  border-top: 3px solid #004494;
}
.view-taxud-subpages {
  position: relative;
  overflow: hidden;
}
.view-taxud-subpages p {
  font-size: 1rem;
}
.front .view-taxud-subpages {
  margin-top: 0.65em;
}
html body .ecl-navigation-menu__link:link,
html body .ecl-navigation-menu__link:visited,
html body .ecl-navigation-menu__link:hover,
html body .ecl-navigation-menu__link:active {
  color: #012b58;
}

html body .ecl-button--call {
  background-color: #ffd617;
  border-color: #ffd617;
  color: #000;
}
.ecl-navigation-menu__root > .ecl-navigation-menu__item--active > .ecl-navigation-menu__link {
  color: #fff;
}
#block-bean-homepage-e-learning div.field.field-name-title-field h3,
#block-bean-homepage-public-consultations div.field.field-name-title-field h3,
#block-bean-homepage-tenders-and-grants div.field.field-name-title-field h3 {
  color: #014393;
  font-weight: normal;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 3px solid #014393;
}

#block-bean-homepage-e-learning > div.panel-body.content > div > div.content > div ,
#block-bean-homepage-public-consultations > div.panel-body.content > div > div.content > div ,
#block-bean-homepage-tenders-and-grants > div.panel-body.content > div > div.content > div {
  margin: 1em 0;
}

html body .ecl-button--default {
  border-color: #004494;
  color: #004494;
}
html body .ecl-footer__label+ul {
  display: block;
}

html body .ecl-footer__social-links li:last-child {
  display: inline-block;
  margin-left: .66rem;
}
#block-bean-homepage-topics-title div.panel-body.content h2 {
  display: block;
}

#block-bean-homepage-topics-title {
  margin-bottom: 0;
}

#block-bean-homepage-topics-title > div {
  padding: 0;
}

#block-bean-homepage-e-learning > div.panel-body.content,
#block-bean-homepage-public-consultations > div.panel-body.content,
#block-bean-homepage-tenders-and-grants > div.panel-body.content {
  padding-top: 0;
  padding-bottom: 20px;
}

#block-bean-homepage-e-learning div.field.field-name-title-field.field-type-text.field-label-hidden,
#block-bean-homepage-public-consultations div.field.field-name-title-field.field-type-text.field-label-hidden,
#block-bean-homepage-tenders-and-grants div.field.field-name-title-field.field-type-text.field-label-hidden {
  margin-top: 0;
}

#block-bean-homepage-e-learning h3,
#block-bean-homepage-public-consultations h3,
#block-bean-homepage-tenders-and-grants h3 {
  margin-top: 0;
}

#block-views-taxud-subpages-block > div.content > div.view-id-taxud_subpages > div.ecl-row {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
}

#block-views-taxud-subpages-block > div.content > div.view-id-taxud_subpages > div.ecl-row > div {
  margin: 0 0 1.3em;
}


@media (min-width: 768px) {
  html .container {
    width: auto;
  }
}

@media (min-width: 992px) {
  html .container {
    width: auto;
  }
}

@media (min-width: 1200px) {
  html .container {
    width: auto;
  }
}

#messages {
  margin: 10px -15px;
}

row,
html body .col-lg-1,
html body .col-lg-2,
html body .col-lg-3,
html body .col-lg-4,
html body .col-lg-5,
html body .col-lg-6,
html body .col-lg-7,
html body .col-lg-8,
html body .col-lg-9,
html body .col-lg-10,
html body .col-lg-11,
html body .col-lg-12,
html body .col-md-1,
html body .col-md-2,
html body .col-md-3,
html body .col-md-4,
html body .col-md-5,
html body .col-md-6,
html body .col-md-7,
html body .col-md-8,
html body .col-md-9,
html body .col-md-10,
html body .col-md-11,
html body .col-md-12,
html body .col-sm-1,
html body .col-sm-2,
html body .col-sm-3,
html body .col-sm-4,
html body .col-sm-5,
html body .col-sm-6,
html body .col-sm-7,
html body .col-sm-8,
html body .col-sm-9,
html body .col-sm-10,
html body .col-sm-11,
html body .col-sm-12,
html body .col-xs-1,
html body .col-xs-2,
html body .col-xs-3,
html body .col-xs-4,
html body .col-xs-5,
html body .col-xs-6,
html body .col-xs-7,
html body .col-xs-8,
html body .col-xs-9,
html body .col-xs-10,
html body .col-xs-11,
html body .col-xs-12 {
  width: auto;
}

.front #block-workbench-block {
  box-sizing: border-box;
  margin: 0 15px 1rem;
  width: 100%;
}

#content-wrapper > div.tabs > ul > li > a {
  font-size: 14px;
}

#content-wrapper > div.tabs + h2 {
  margin-top: 1rem;
}

#block-bean-social-media-links {
  margin-top: 1.67rem;
  padding-top: 1.66rem;
}

@media (min-width: 992px) {
  #block-views-in-the-spotlight-block .view .view-content {
    margin: 0 -15px;
  }
}


h1#page-title {
  margin-top: 2rem;
  color: black;
  font-weight: bold;
}

#block-views-taxud-subpages-block > div.content > div.view-taxud-subpages > div.ecl-row {
  margin-top: 0;
}
html body .col-lg-12 {
  width: 100%;
}
.ecl-breadcrumbs  .breadcrumb__text {
  color: #bfd0e4;
  font-weight: bold;
}

/* INPAGE NAVIGATION */

.ecl-inpage-navigation {
  margin: 0;
}

.ecl-inpage-navigation__trigger {
  background-color: #004494;
  border: 0;
  color: #fff;
  display: none;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1;
  overflow: hidden;
  padding: 1rem 4.125rem 1rem 1rem;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.ecl-inpage-navigation__trigger:after {
  display: inline-block;
  font-family: EuropaIcons;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  margin-left: 4px;
  speak: none;
  text-decoration: none;
  text-transform: none;
  content: "\e822";
  -webkit-box-align: center;
  align-items: center;
  background-color: #003776;
  display: -webkit-box;
  display: flex;
  font-size: .5rem;
  height: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 3.125rem;
}

.ecl-inpage-navigation__title {
  color: #404040;
  display: none;
  padding-bottom: .89rem;
  padding-left: .5rem;
  padding-top: .66rem;
  text-transform: uppercase;
}

.ecl-inpage-navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ecl-inpage-navigation__list[aria-hidden=true] {
  display: none;
}

.ecl-inpage-navigation__link {
  font-size: 1rem;
  line-height: 1.625;
  padding: .4375rem 0;
}

.ecl-inpage-navigation--visible .ecl-inpage-navigation__trigger {
  display: block;
}

@media (max-width: 767px) {
  .ecl-inpage-navigation--visible .ecl-inpage-navigation__body {
    background-color: #004494;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  .ecl-inpage-navigation--visible .ecl-inpage-navigation__link {
    border-top: 1px solid #003776;
    color: #fff;
    display: block;
    padding: .66rem .89rem;
    text-decoration: underline;
  }

  .ecl-inpage-navigation--visible .ecl-inpage-navigation__link:visited {
    color: #fff;
  }
}

@media (min-width: 768px) {
  .ecl-inpage-navigation {
    position: static;
    top: 0;
    width: inherit;
  }

  .inpage-nav-sticky .ecl-inpage-navigation {
    position: fixed;
    top: 0;
    bottom: auto;
  }

  .inpage-nav-sticky-footer .ecl-inpage-navigation {
    position: absolute;
    top: auto;
    bottom: 0;
  }

  .ecl-inpage-navigation__list[aria-hidden],
  .ecl-inpage-navigation__title {
    display: block;
  }

  html .ecl-inpage-navigation__link,
  html .ecl-inpage-navigation__link:link,
  html .ecl-inpage-navigation__link:visited {
    border-left: 3px solid transparent;
    color: #000;
    display: block;
    font-weight: 700;
    padding-left: .33rem;
    font-size: 16px;
  }

  .ecl-inpage-navigation__link:hover {
    text-decoration: underline;
  }

  .ecl-inpage-navigation__link:focus {
    background-color: #ffd617;
    outline: none;
    text-decoration: underline;
  }

  html body .ecl-inpage-navigation__link--is-active,
  html body .ecl-inpage-navigation__link--is-active:link,
  html body .ecl-inpage-navigation__link--is-active:visited {
    background-color: #ebebeb;
    border-left-color: #004494;
  }

  .ecl-inpage-navigation--visible .ecl-inpage-navigation__trigger {
    display: none;
  }
}

.inpage_nav_body h2#heading_0 {
  margin-top: 0;
}

nav.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #004494;
}

nav.mobile-nav .current_item {
  background-color: #004494;
  display: block;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: 16px;
  position: relative;
}

nav.mobile-nav ul {
  display: none;
}
nav.mobile-nav.active ul {
  display: block;
}
nav.mobile-nav .current_item:after {
  display: inline-block;
  font-family: EuropaIcons;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  margin-left: 4px;
  speak: none;
  text-decoration: none;
  text-transform: none;
  content: "\e822";
  -webkit-box-align: center;
  align-items: center;
  background-color: #003776;
  display: -webkit-box;
  display: flex;
  font-size: .5rem;
  height: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 3.125rem;
}

nav.mobile-nav a,
nav.mobile-nav a:visited,
nav.mobile-nav a:link {
  border-top: 1px solid #003776;
  color: #fff;
  display: block;
  padding: .66rem .89rem;
  text-decoration: underline;
}
nav.mobile-nav.hide_mobile {
  display: none;
}
nav.mobile-nav {
  display: block;
}
.ecl-inpage-navigation__list.desktop,
nav.desktop-nav {
  display: none;
}
@media (min-width: 768px) {

  nav.mobile-nav {
    display: none;
  }
  .ecl-inpage-navigation__list.desktop,
  nav.desktop-nav {
    display: block;
  }
}
.element-invisible {
  max-width: 100%;
}
